@using Letragames.MVC.Entity;
@model Product


@{
    ViewBag.Title = "Details";
}

<div class="container pb-5">

    <div class="row">
        <div class="col-md-6">
            <img src="/Upload/@Model.Image" class="img-fluid rounded " style="width:80%">
        </div>
        <div class="col-md-6">
            <div class="row mt-1">
                <div class="col-md-12">
                    <h1> @Model.Name </h1>
                </div>
                
                <div class="row mt-1">
                    <div class="col-md-12">
                        <div id="description">
                            @Model.Description
                        </div>
                        <div class="row mt-1">
                            <div class="col-md-4">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <span class="badge badge-success">84</span>
                            </div>
                            
                        </div>
                        <div class="col-md-12 mt-1">

                            <h3 class="card-text" style="font-size:55px;">@Model.Price TL</h3>
                            <br />

                        </div>

                        <div class="col-md-12 mt-2">
                            <button class="btn btn-success">
                                <i class="fa-solid fa-cart-plus"></i>
                                Sepete Ekle
                            </button>
                            <button class="btn btn-primary">
                                <i class="fa-solid fa-cart-plus"></i>
                                Yorum yap
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="bd-example bd-example-tabs">
                <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Açıklama</a>
                    </li>
                 
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                        <p>  @Model.Description</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
